
<div class="container">
  <h2>Users with Subdomains</h2>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Serial no.</th>
        <th>Email</th>
        <th>Subdomain</th>
      </tr>
    </thead>
    <tbody>
      <%User.all.each do |user|%>  <tr>
          <td><%= user.id%></td>
          <td><%=user.email%></td>
          <td><%= user.subdomain%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

