/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

a{
	color: #777777;
}

.nav_height{
	height: 53px;
}
.nav_color{
	    background: #562648;
}
.notice_alert{
	text-shadow: #000 0 1px 0;
    color: white;
    background: #5e6468;
    border-bottom: 1px solid #44484b;
    text-align: center;
}
.text_color{
	color: white;
	font-size: 20px;
}